/* === define variables === */
:root {
  --main-purple: #6b2ad3;
  --main-orange: #ffaa00;
  --main-text: #292d32;
  --second-text: #cbcfd3;
  --placeholder-text: #a2a6ab;
  --input-bg: #eef0f3;
  --wrong-color: #d95262;
  --white-color: #ffffff;
  --green-color: #41bf74;
  --off-color: #eb364c;
  --menu-section: #eff3f8;
  --main-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
  --book-shadow: 0px 4px 8px rgba(0, 0, 0, 0.24);
  --nav-shadow: 0px 1px 32px rgb(0 0 0 / 16%);
  --web-main-shadow: 0px 1px 40px rgba(0, 0, 0, 0.12);
  --store-shadow: 0px 1px 20px rgba(0, 0, 0, 0.12);
  --inner-shadow: inset 0px 1px 4px rgba(38, 50, 56, 0.04);
  --border-radius: 15px;
}

/* === define variables end === */

/* === adding fonts ===  */
@font-face {
  font-family: IranYekanRegular;
  src: url(../public/fonts/ttf/IRANYekanWebRegular.ttf);
}

@font-face {
  font-family: IranYekanBold;
  src: url(../public/fonts/ttf/IRANYekanWebBold.ttf);
}

/* === adding fonts end ===  */

/* === general styles ===  */
html {
  direction: rtl;
}

body {
  overflow-x: hidden;
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  font-family: IranYekanRegular !important;
}
@media screen and (max-width: 993px) {
  html {
    overflow-x: hidden;
  }
}

* {
  box-sizing: border-box;
  color: var(--main-text);
}

a,
button {
  line-height: inherit;
  text-decoration: none !important;
  cursor: pointer;
}

a,
button,
img,
input,
span {
  -webkit-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

input {
  border: none;
}

*:focus {
  outline: none !important;
}

a:focus {
  color: inherit;
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  padding: 0;
}

button,
input[type="submit"] {
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.padding-1 {
  padding: 1rem;
}

.swiper {
  direction: rtl;
}

.flex--row {
  display: flex;
  flex-direction: row;
}

.flex--column {
  display: flex;
  flex-direction: column;
}

/* === general styles end ===  */
