.special-discount .header-slider-txt {
    margin-bottom: -.6rem;
}

.book-slide{
    padding:24px 12px !important;
    background-color: var(--off-color);
}

.book-swiper .swiper-wrapper .swiper-slide {
    transition: .4s;
    
}

.book-swiper {
    background-color: var(--off-color);
    border-radius: 20px;
}
/* 
.book-swiper .swiper-wrapper {
    padding: 24px !important;
} */

.first-slider-left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.first-slider-label {
    background-color: var(--off-color);
    border-radius: 20px 20px 0 0;
    padding: .5rem 1rem;
    margin-inline-end: 1.5rem;
    margin-bottom: -0.1rem;
}

.first-slider-label span {
    color: #ffffff !important;
}

@media screen and (min-width:500px) {


    .book-swiper .swiper-wrapper .swiper-slide {
        width: 240px !important;
        transition: .4s;
    }

}

@media screen and (min-width:992px) {
    .first-slider-label {
        margin-bottom: -.02rem;
    }

}

@media screen and (max-width:992px) {
    .special-discount .header-slider-txt {
        margin-bottom: -.55rem;
    }
}

@media screen and (max-width:768px) {
    .first-slider-label {
        display: none;
    }

    .special-discount .header-slider-txt {
        margin-bottom: -.4rem;
    }
}

@media screen and (max-width:576px) {
    .special-discount .header-slider-txt {
        margin-bottom: -.42rem;
    }
}

