.blog-side-card {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    box-shadow: var(--web-main-shadow);
    margin-bottom: 1rem;
}

.blog-card-text {
    font-size: 12px;
    color: var(--placeholder-text);
    line-height: 24px;
}

.blog-rating-parent {
    padding: 0 1rem 1rem 1rem;
    border-bottom: 1px dashed var(--second-text);
}