.blog-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}
.blog-btn-icon{
    width:8px;
}
.blog-btn-txt{
    font-size: 12px;
    color: #fff;
    margin-inline-end: .5rem;
}
