.parent-section-related-books {
   background-color: #F4F8F9;
   border-radius: 15px;
   padding:.75rem 1.5rem 1.5rem 1.5rem;
}

.span-section-related-books {
   font-weight: 700;
   font-size: 15px;
   color: #292D32;
   margin-bottom: 4rem;
   display: block;
}

@media screen and (max-width:992px) {
   .parent-section-related-books {
      margin-top: 1.5rem;
   }
}

@media screen and (max-width:576px) {
  
  .span-section-related-books{
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      margin-bottom: 2rem;
      margin-top: 3rem;
   }
}

