.search-result {
    font-size: 14px;
    font-weight: 700;
    color: var(--main-text);
    display: inline-block;
}

.search-result-value {
    max-width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-inline-end: .5rem;
    overflow:hidden;
}

.breadcrumb-layout {
    width: 100%;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--input-bg);
    border-radius: 15px;
    text-align: center;
    height: 86px;
    overflow: hidden
}

.search-result-container {
    text-align: start;
    display: flex;
    align-items: center;
}

@media screen and (min-width:768px) and (max-width:992px) {
    .search-result {
        font-size: 12px;
    }
}

@media screen and (max-width:400px) {
    .search-result {
        font-size: 12px;
    }

}