.swiper .swiper-wrapper .nearshop-swiper .swiper-slide {
  width: 200px !important;
  height: 120px !important;
  transition: 0.4s;
}

.nearshop-swiper {
  padding: 40px 0;
  border-radius: 20px;
  margin-top: 3rem;
}

.purple-bottom {
  border-bottom: 4px solid var(--main-purple);
}

.padding-bottom {
  padding-bottom: 0.5rem;
}
.nearshop-swiper .book-slide-two {
  box-shadow: none;
}
@media screen and (min-width: 576px) {
  .width-slides {
    max-height: 130px !important;
  }
}
@media screen and (max-width:400px) {
  .nearshop-swiper .book-slide-two {
    padding: 30px 12px 30px 0 !important;
  }
}
@media screen and (max-width:320px) {
  .nearshop-swiper .book-slide-two {
    padding: 30px 12px 30px 12px !important;
  }
}