.search-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #ffffff;
  padding: 0 0.8rem;
  border-radius: 15px;
}

.search-dropdown .dropdown-menu {
  position: static !important;
  transform: unset !important;
}

.search-dropdown .show {
  display: flex !important;
  flex-direction: column;
  text-align: start;
  border: 0;
}

.search-dropdown .dropdown-item {
  color: #8b9096;
  padding-right: 2rem;
  font-size: 0.9rem;
}

.search-dropdown .dropdown {
  width: 100%;
  border-bottom: 1px solid var(--input-bg);
  padding: 6px 0;
}

.search-dropdown .dropdown .dropdown-toggle {
  text-align: start;
  display: flex;
  background-color:transparent !important;
  justify-content: space-between;
  align-items: center;
  border: 0;
  font-size: 14px;
  font-weight: 700;
}

.search-dropdown .dropdown .dropdown-toggle:focus {
  border: 0;
}

.search-dropdown .dropdown .dropdown-toggle::after {
  content: url(../../../assets/Images/icon/down.svg);
  transition: 0.4s;
  border: 0;
}

.search-dropdown .show .dropdown-toggle::after {
  transform: rotate(180deg);
  transition: 0.4s;
}

@media screen and (max-width: 992px) {
  .search-dropdown .dropdown .dropdown-toggle {
    font-size: 12px;
  }
  .search-dropdown .dropdown-item {
    font-size: 0.85rem;
  }
}
