.blog-rating-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.star-container {
    display: flex;
    flex-direction: row;
}

.star-img {
    margin-left: 2px;
}

.rating-details {
    font-weight: 700;
    font-size: 14px;
    display: block;
}

.comment-icon,
.view-icon {
    display: flex;
    margin-left: 5px;
}

.comment-number,
.view-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:992px) {

    .comment-icon,
    .view-icon {
        width: 20px;
        height: 20px;
    }
}