.detail_head_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eff3f8;
}

.Parent-section-detail-product-page {
  width: fit-content;
  display: flex;
  align-items: center;
  background: #ffffff;
  /* Web-Main-Shadow */

  box-shadow: 0px 1px 40px rgba(0, 0, 0, 0.12);
  border-radius: 20px;
  padding: 2rem;
}

.detail_title_section {
  display: flex;
  align-items: center;
}

.detail_title_section span {
  font-weight: 500;
  font-size: 17px;
  margin-right: 1rem;
}

.detail_icons_head_section {
  display: flex;
  align-items: center;
}

.detail_icons_head_section img {
  margin: 0 0.5rem;
}

.stores-product-page-in-detail-component {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .stores-product-page-in-detail-component {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .Parent-section-detail-product-page {
    width: 100%;
  }

  .row-Parent-section-detail-product-page {
    width: 100%;
  }

  .Parent-section-detail-product-page {
    padding: 0.75rem;
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
  }
  .info-book-detail-container {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
