.bg-color-shops {
    width: 5.5rem;
    height: 5.5rem;
    background-color: red;
    border-radius: 50%;
    margin-top: -1rem;
    position: absolute;
    top: -2.75rem;
    padding: 8px;
 }

 .bg-color-shops img {
   border-radius: 50%;
 }
 
 .slides-near-shops {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
 }
 
 .slides-near-shops {
    padding: 0 0 .25rem;
    margin-top: 1rem;
    border-radius: 20px;
 
 }
 
 .slides-near-shops span {
    margin-top: 3rem;
    padding: 0 .25rem;
    font-size: .9rem;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    text-align: center;
 }

 .bestShops-single-container{
   padding: 12px;
   box-shadow: var(--web-main-shadow);
   border-radius: 20px;
 }