/* .Product_nav_parent {
   display: flex;
   justify-content: space-between;
   align-items: center;
} */

.BreadCrumpStyle {
   border-bottom: none;
   margin-bottom: 0;
   padding: 8px 8px;
   background: #EEF0F3;
   border-radius: 20px;
   width: 19.5rem;
}

.breadcrumb-container_custom_style {
   width: 70%;
}

@media screen and (max-width:1400px) {
   .BreadCrumpStyle{
      width: 16.5rem;
   }
}
@media screen and (max-width:1200px) {
   .BreadCrumpStyle{
      width: 13.5rem;
   }
}

@media screen and (max-width:992px) {
   .breadcrumb-container_custom_style {
      margin-bottom: 1.5rem;
   }
}

@media screen and (max-width:768px) {
   .container-fluid-product-navbar{
     
      margin-bottom: 2.5rem;
   }
   .BreadCrumpStyle{
      width: auto;
   }
   .breadcrumb-container_custom_style{
      width: 100%;
   
   }

}

@media screen and (max-width:576px){
   .breadcrumb-container_custom_style {
      width: 100%;
   }
}