.blog-title-container{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin-bottom: .5rem;
}
.blog-title-icon{
    width:25px;
    height:25px;
    margin-left: .5rem;
}
.blog-title{
    font-weight: 700;
    font-size:15px
}